var formatTime = function(date) {
  date = getDate(date);
  var year = date.getFullYear();
  var month = date.getMonth() + 1;
  var day = date.getDate();
  var hour = date.getHours();
  var minute = date.getMinutes();
  var second = date.getSeconds();

  return (
    [year, month, day].map(formatNumber).join("/") +
    " " +
    [hour, minute, second].map(formatNumber).join(":")
  );
};

var formatNumber = function(n) {
  n = n.toString();
  return n[1] ? n : "0" + n;
};

var sqText = function(index) {
  var string = "ABCD";
  return string.charAt(index);
};

// title to cn name
var titleName = function(value) {
  var rname = null;
  switch (value) {
    case "choice":
      rname = "选择题";
      break;
    case "input":
      rname = "填空题";
      break;
    case "short":
      rname = "简答题";
      break;
  }
  return rname;
};

module.exports = {
  formatTime: formatTime,
  sqText: sqText,
  titleName: titleName
};
